@model ExamMeAI.Models.LoginViewModel

<h2>Logowanie</h2>

<form asp-action="Login" method="post">
    <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" /> 
    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-for="Email"></span>
    </div>

    <div>
        <label>Hasło</label>
        <input asp-for="Password" type="password" />
        <span asp-for="Password"></span>
    </div>

    <div>
        <input asp-for="RememberMe" type="checkbox" />
        <label asp-for="RememberMe">Zapamiętaj mnie</label>
    </div>

    <button type="submit">Zaloguj</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}