@model IEnumerable<Question>

@{
    ViewData["Title"] = "Exam - Index";
}

<h2>Choose a Question</h2>

<!-- DropDown -->
<div>
<form asp-action="Index" method="post">
    <select name="selectedQuestionId" class="form-control">
        @foreach (var q in Model)
        {
            <option value="@q.QuestionId">@q.QuestionText</option>
        }
    </select>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
@if (ViewBag.SelectedQuestionText != null)
{
    <div class="mt-3">
        <label><strong>Selected Question:</strong> @ViewBag.SelectedQuestionText</label>
    </div>
}

<label>Odpowiedź AI</label>
<div>
    <span>
    <p>ocena:<strong><pre>5</pre></strong></p>
    </span>
</div>