@if (Model != null && User?.Identity?.IsAuthenticated == true)
{
    <div class="user-menu font-weight-bold">
        <ul class="navbar-nav flex-grow-1">
            <li class="">
                <button type="button" class="btn btn-light">@Model._name</button>
            </li>
            <li class="nav-item">
                <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="nav-link">Logout</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <a href="Account/Login">Login</a>
}
